<h2 mat-dialog-title>Add Category</h2>
    <mat-dialog-content *ngIf="!isLoading">
      <form [formGroup]="data.form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="parent_id">
            <mat-option [value]="null" >Danh mục mới</mat-option>
            <mat-option *ngFor="let category of SelectArrayCategory" [value]="category._id">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="slug" placeholder="Slug">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="link" placeholder="link">
        </mat-form-field>
        <div mat-dialog-actions>
          <span mat-button (click)="onCancelClick()">Cancel</span>
          <button mat-button type="submit" [disabled]="!data.form.valid">Add</button>
        </div>
      </form>
    </mat-dialog-content>


    <mat-dialog-content *ngIf="isLoading">
        <h5>Loading</h5>
    </mat-dialog-content>
