.header {
    transition-duration: .2s;
    z-index: 444;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

.header::after {
  display: block;
  position: absolute;
  content: "";
  bottom: -.6rem;
  left: 0;
  right: 0;
  height: .6rem;
  background: linear-gradient(90deg, #cd122d 0, #154284);
}

.main-header {
  height: 60px;
  background: #181733;
  position: relative;
}
@media (min-width: 1280px) {
  .main-header {
      height: 70px  !important;
  }

}

.container_header {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: flex;
}


.logo {
  position: relative;
  z-index: 9999;
  top:5px;

  a img {
    width: 80px;
  }
}

.menus {
    white-space: pre;
    gap: 22px;
    height: 100%;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.itemmenu {
    cursor: pointer;
    transition: 0.3ms all;
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    position: static;
}

.title_itemmenu {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(255, 255, 255);
    /* text-transform: uppercase; */
    font-family: "cule-bold" !important;
    margin: 0;
}

.itemmenu:hover {
  .group-hover\:w-full {
    width: 100% !important;
    background: var(--hover-text);
}
}


.itemmenu:hover .title_itemmenu{
    color: var(--hover-text);
}

.line_hover {
    transition-duration: .3s;
    --tw-gradient-to: #e2e2e2 var(--tw-gradient-to-position);
    --tw-gradient-from: #fff var(--tw-gradient-from-position);
    --tw-gradient-to: hsla(0,0%,100%,0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    position: absolute;
}



@media (min-width: 52.5em) and (min-width: 840px) {
  .itemmenu:hover {

  }
  .itemmenu:hover .mega-dropdown {
      opacity: 1;
      transform: scale(1);
      width: 100% !important;
  }
}

.mega-dropdown {
  position: absolute;
  display: flex;
  top: 79px;
  left: 0;
  right: 0;
  padding: 3.5rem 2.4rem 4rem;
  height: auto;
  background: #0a0927;
  justify-content: center;
  cursor: default;
  visibility: visible;
  transform: scale(0);
  opacity: 0;
  transform-origin: top center;
  transition: transform .2s ease, opacity .1s ease;
}

.mega-dropdown__column--title {
  padding-top: 0;
  padding-right: 6rem;
  font-size: 1.5rem;
  color: #fdc52c;
  font-family: 'cule-bold' !important;
  font-weight: 400;
  text-transform: none;
}

.mega-dropdown__column {
  padding: .4rem 1.8rem 0;
  text-align: left;
  text-align: left;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.mega-dropdown__list-item--title {
  margin-bottom: 0.7rem;
  color: #fdc52c;
  font-family: 'cule-bold' !important;
}

.mega-dropdown__list-item {
  display: block;
  position: relative;
}
ol li, ul li {
  list-style-type: none;
}

.mega-dropdown__list-link {
  display: block;
  padding: .3rem 0;
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  line-height: 1.2rem;
  text-transform: none;
  font-weight: 400;
}

.down {
    line-height: 1.5;
    font-size: 12px;
    margin-top: -2px;
    margin-left: 4px;
    vertical-align: 0 !important;
    display: inline-flex;
    align-items: center;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search {
  .icon_search {
      font-size: 24px;
      cursor: pointer;
  }
}



.search:hover {
  .icon_search {
    color: var(--hover-text) !important;
  }
}

.barmenu {
  display: none;
}


@media screen and (max-width: 950px) {
    .menus  {
      display: none;
    }

    .barmenu {
      display: block !important;
    }

    .search {
      display: none !important;
    }


    .logo {
      a img {
        width: 70px !important;
      }
    }
}


.active {
  max-height: 100vh !important;
  position: absolute;
}

.search_mb {
  padding-top: 20px;
}

.submenumb {
  z-index: 4;
  width: 100%;
  top: 100%;
  background: #fff;
  max-height: 0;
  transition: all .3s ease;
  overflow-x: hidden;
  height: calc(100vh - 60px);
  border-top: 1px solid #d6d6d6;
}

.submenumb_children {
  z-index: 10;
  width: 100%;
  top: 100%;
  background: #fff;
  max-height: 0;
  transition: all .3s ease;
  overflow-x: hidden;
  height: calc(100vh - 60px);
  border-top: 1px solid #d6d6d6;
}

.container_search_mb {
  padding: 24px 16px;
  position: relative;
}



.btn2 {
  background: #f6f6f6;
  border-radius: 4px;
  height: 50px;
  border: 0;
  width: 100%;
  padding: 0 40px 0 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
}

.submit {
  display: flex;
  width: 40px;
  height: 50px;
  position: absolute;
  right: 16px;
  top: 24px;
  align-items: center;
  justify-content: center;
}

.prev_children {
  padding-bottom: 12px;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid;
  border-color: rgb(225 224 231 / 1);
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
}

.item_mb {
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid;
  border-color: rgb(225 224 231 / 1);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
}

.listmenu_children_mb {
  margin-top: 15px;
}

.item_children_mb {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
}

.prev_mb {
  transform: rotate(90deg);
  color: red;
}

.title_item_mb {
  color: black;
  font-family: 'cule-bold' !important;
  margin: 0;
  font-size: 15px;
}

.next_mb {
  transform: rotate(270deg);
  color: red;
}



.inputsearch {
  border-radius: 10px;
  padding: 7px 30px;
  border: 0;
  width: 100%;
  font-size: 16px;
  min-width: 500px;
}


.container_search {
  position: relative;

  svg {
    position: absolute;
    top: 30%;
    left: 2%;
    color: black;
  }
}


.container_search {
  display: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.container_search.show {
  display: block;
  transform: translateX(0);
}
