<div class="header">
    <div class="main-header">
        <div class="container container_header">
            <div class="logo">
                <a href="/">
                  <img src="../../../../assets/barca.png" alt="">
                </a>
            </div>
            <div class="menus" [ngClass]="{'d-none': isSearch}">
                <div class="itemmenu" *ngFor="let item of listitem">
                    <a class="href_itemmenu" routerLink="/{{item.link}}">
                      <p class="title_itemmenu duration-300">{{item.name}}
                        <span role="img" class="down" *ngIf="item.children">
                          <svg width="1em" height="1em" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79993 1.128L8.67193 0L4.99993 3.664L1.32793 0L0.199926 1.128L4.99993 5.928L9.79993 1.128Z" fill="currentColor"></path></svg></span>
                      </p>
                    </a>
                    <div class="line_hover duration-300 group-hover:w-full"></div>
                    <div class="mega-dropdown js-middle-navigation-mega" *ngIf="item.children" >
                      <div class="mega-dropdown__column mega-dropdown__column--title">{{item.name}}</div>

                          <div class="mega-dropdown__column">
                              <ul class="mega-dropdown__list" role="group" aria-expanded="false" aria-hidden="true">
                                  <li class="mega-dropdown__list-item mega-dropdown__list-item--title">{{item.name}}</li>
                                      <li class="mega-dropdown__list-item " role="menuitem" *ngFor="let itemchilren of item.children">
                                          <a class="mega-dropdown__list-link" routerLink="/{{itemchilren.link}}" data-analytics="true" data-analytics-type="main-menu" data-analytics-section="futbol" data-analytics-event="femení" data-analytics-initialised="true">
                                              {{itemchilren.name}}
                                          </a>
                                      </li>

                              </ul>
                          </div>
                  </div>
                </div>
            </div>
            <div class="search duration-300 d-flex">
              <div class="container_search duration-300" [ngClass]="{'show': isSearch}" style="margin-right: 20px;">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="16" width="16" xmlns="http://www.w3.org/2000/svg" class="absolute left-[15px] top-1/2 translate-x-[-50%] translate-y-[-50%] cursor-pointer text-textGray hover:text-cps">
                  <path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"></path>
                </svg>
                <input type="search" [(ngModel)]="valueSearch" (keyup.enter)="search()" placeholder="Tìm kiếm" name="" id="" class="inputsearch ng-valid ng-dirty ng-touched">
              </div>
              <span role="img" (click)="setSearch()" class="icon_search duration-300"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="inherit"><path d="M0 9.33162C0 14.4752 4.18787 18.6632 9.33126 18.6632C11.5661 18.6632 13.6143 17.8794 15.2221 16.5636L22.6563 24L24 22.6572L16.5639 15.2217C17.9253 13.5611 18.6672 11.479 18.6625 9.33162C18.6625 4.18803 14.4747 0 9.33126 0C4.18787 0 0 4.18803 0 9.33162ZM1.86625 9.33162C1.86625 5.19771 5.19751 1.86632 9.33126 1.86632C13.465 1.86632 16.7963 5.19771 16.7963 9.33162C16.7963 13.4655 13.465 16.7969 9.33126 16.7969C5.19751 16.7969 1.86625 13.4655 1.86625 9.33162Z" fill="currentColor"></path></svg></span>
            </div>
            <div class="barmenu duration-300" (click)="isShow()">
              <!-- button show -->
                <img style="width: 32px ; height: 32px;" src="../../../../assets/menu_v2.png" alt="" [ngClass]="{'d-none': isHeader}">
              <!-- button hidden -->
                <img style="width: 28px ; height: 28px;" src="../../../../assets/close.png" alt="" [ngClass]="{'d-none': !isHeader}" >
            </div>
        </div>
    </div>
</div>


  <div class="submenumb" [ngClass]="{'active': isHeader}" >
      <div class="search_mb">
          <div class="container_search_mb">
              <!-- loading search mobile -->
              <input placeholder="Tìm kiếm" [(ngModel)]="valueSearch" class="btn2 txt-search ng-pristine ng-valid ng-touched">
              <a  aria-label="btn-search" class="submit btn-search-a" (click)="searchmb()">
                <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-ng-c3224376096="" d="M16.1986 14.608H15.3645L15.0688 14.3231C16.3359 12.8458 16.9905 10.8304 16.6315 8.68827C16.1352 5.75477 13.6857 3.41219 10.7294 3.05342C6.26319 2.50471 2.50442 6.26128 3.05345 10.7248C3.41244 13.6794 5.75639 16.1275 8.69161 16.6235C10.835 16.9823 12.8516 16.328 14.3298 15.0618L14.6148 15.3572V16.1909L19.1021 20.6755C19.535 21.1082 20.2424 21.1082 20.6753 20.6755C21.1082 20.2429 21.1082 19.5359 20.6753 19.1032L16.1986 14.608ZM9.86358 14.608C7.23456 14.608 5.11233 12.487 5.11233 9.85956C5.11233 7.23207 7.23456 5.11109 9.86358 5.11109C12.4926 5.11109 14.6148 7.23207 14.6148 9.85956C14.6148 12.487 12.4926 14.608 9.86358 14.608Z" fill="#848484"></path></svg></a>
          </div>
      </div>

      <div class="listmenu_mb" >
            <div class="item_mb" *ngFor="let item of listitem">
              <p class="title_item_mb duration-300" (click)="chuyentrang(item)">{{item.name}}</p>
              <span role="img" class="next_mb" *ngIf="item.children" (click)="transformchildren(item.children)">
                <svg width="1em" height="1em" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79993 1.128L8.67193 0L4.99993 3.664L1.32793 0L0.199926 1.128L4.99993 5.928L9.79993 1.128Z" fill="currentColor"></path></svg>
              </span>
            </div>
      </div>
  </div>


  <div class="submenumb_children" [ngClass]="{'active': isChildren}" >
    <div class="prev_children" (click)="closechildren()">
      <span role="img" class="prev_mb"><svg width="1em" height="1em" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79993 1.128L8.67193 0L4.99993 3.664L1.32793 0L0.199926 1.128L4.99993 5.928L9.79993 1.128Z" fill="currentColor"></path></svg></span>
      <p class="title_item_mb duration-300" style="padding-left: 5px;">QUAY LẠI</p>
    </div>

  <div class="listmenu_children_mb" >
        <div class="item_children_mb" *ngFor="let item of listchildren">
          <p class="title_item_mb duration-300" (click)="chuyentrang(item)">{{item.name}}</p>
        </div>
  </div>
  </div>
