  <app-owncarousel></app-owncarousel>

  <div class="container" style="padding-top: 50px;">
    <app-newsfeed [categoryId]="'6681047dc07c6d893050de49'" [title]="'Tin tức mới'" [layout]="'layout1b4c'"></app-newsfeed>
  </div>

  <div class="container" style="padding-top: 50px;">
    <app-newsfeed [categoryId]="'668106d7c07c6d893050de54'" [title]="'Tin tức chuyển nhượng'" [layout]="'layout4c'"></app-newsfeed>
  </div>

  <div class="container" style="padding-top: 50px;">
    <app-newsfeed [categoryId]="'6681071ac07c6d893050de65'" [title]="'Lịch Thi Đấu'" [layout]="'layout1b2c'"></app-newsfeed>
  </div>

  <div class="container" style="padding-top: 50px;">
    <div class="row">
            <div class="col-md-8">
              <app-newsfeed [categoryId]="'6681075dc07c6d893050dea4'" [title]="'LA LIGA'" [layout]="'layout1b2c'"></app-newsfeed>
            </div>
            <div class="col-md-4">
              <app-hotnews ></app-hotnews>
            </div>
    </div>
  </div>

  <div class="container" style="padding-top: 50px; padding-bottom: 30px;">
    <div class="row">
            <div class="col-md-4">
              <app-adsnews [categoryId]="'6681047dc07c6d893050de49'" [title]="'TIN MỚI NHẤT'" ></app-adsnews>
            </div>
            <div class="col-md-8">
              <app-newsfeed [categoryId]="'66810713c07c6d893050de62'" [title]="'Tin tức cầu thủ'" [layout]="'layout3c'"></app-newsfeed>
            </div>
    </div>
  </div>
