<div class="detail section_pd" >
   <div class="detail_container container">
      <div class="item_detail_layout d-flex flex-wrap">
          <div class="item_detail_layout_1 _md:pr-0 _md:w-full">
              <div class="body_detail">
                <div class="header_detail">
                  <h2 class="title_detail">{{item.name}}</h2>
                  <div class="date_detail">
                    <div class="d-flex flex-wrap">
                      <p class="capitalize"><i>{{getDatePublicPost(item.publish_date)}}</i></p>
                    </div>
                  </div>

                  <div class="image">
                      <img style="width: 100%; height: auto;" src="{{this.api.URL + '/' + item.image}}" alt="">
                  </div>

                  <div class="render-content" style="margin-top: 20px;" [innerHTML]="contentformatsafe">

                  </div>
                </div>
              </div>

              <div class="footer_detail_ads">
                <app-newsfeed [categoryId]=" this.item.category._id " [title]="'BÀI VIẾT CÙNG CHUYÊN MỤC'" [layout]="'layout3c'" ></app-newsfeed>
                <app-newsfeed [categoryId]=" this.ads " [title]="''" [layout]="'layout1b2c'" ></app-newsfeed>
              </div>
          </div>
          <div class="item_detail_layout_2 _md:w-full">
            <app-adsnews [categoryId]="'6681047dc07c6d893050de49'" [title]="'TIN MỚI NHẤT'" ></app-adsnews>
            <app-hotnews ></app-hotnews>
          </div>
      </div>

   </div>
</div>
