
<section class="hero-section">
  <div class="container">
      <div class="row">

          <div class="col-lg-12 col-12">
              <div class="text-center mb-5 pb-2">
                  <h1 class="text-white">BARCELONA NEWS</h1>

                  <p class="text-white">Website thuộc bản quyền của Cule.vn</p>

                  <a href="#section_2" class="btn custom-btn smoothscroll mt-3">Xem ngay</a>
              </div>

              <div class="owl-carousel owl-theme">
                  <div class="owl-carousel-info-wrap item" *ngFor="let item of listdata"  style="height: 400px;">
                      <img
                          class="owl-carousel-image img-fluid" style="height: 100%; background-image: url(../../../assets/{{item.image}}) ; background-size: cover; background-position: center;" alt="">

                      <div class="owl-carousel-info">
                          <h4 class="mb-2">
                              {{item.title}}
                          </h4>

                          <span class="badge">Số {{item.number}}</span>
                      </div>

                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
