<mat-card>
  <mat-card-content>
    <mat-card-title>CHỈNH SỬA DANH MỤC ( EDIT CATEGORY )</mat-card-title>
    <mat-card-subtitle>Được phát triển bởi nhasuhoc.edu.vn</mat-card-subtitle>

    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">

      <mat-card-content style="padding-bottom: 0;">
        <div class="row">
          <input type="hidden" formControlName="_id">
          <div class="col-6">
            <mat-form-field class="mb-3">
              <input matInput type="text" formControlName="name"  placeholder="Tiêu đề .... ">
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field class="mb-3">
              <input matInput type="text" formControlName="link"  placeholder="Link">
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field class="mb-3">
              <mat-select placeholder="Danh mục thừa kế" formControlName="parent_id">
                <mat-option [value]="null">Danh mục Cha</mat-option>
                <mat-option *ngFor="let item of listselectdanhmuc" [value]="item._id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

    <mat-card-content>
      <button mat-raised-button color="primary" type="submit"  [disabled]="!itemForm.valid" style="margin-right: 5px;">Submit</button>
    </mat-card-content>
  </form>
  </mat-card-content>
</mat-card>
