@font-face {
    font-family: 'FC Barcelona';
    src: local('FC Barcelona Extra bold'), local('FC-Barcelona-Extra-bold'),
        url('FCBARCELONA-Extrabold.woff2') format('woff2'),
        url('FCBARCELONA-Extrabold.woff') format('woff'),
        url('FCBARCELONA-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
